html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.dflex {
  display: flex;
}

.dnone {
  display: none;
}

.social-nav {
  background-color: #38393b;
  padding: 0%;
  margin: 0%;
}

.social-nav > h4 {
  margin: 0%;
  color: white;
  justify-self: flex-end;
  font-size: 15px;
}

/* Home Page Section Styling */

.home-page {
  flex-direction: column;
}

.info-container::after {
  content: '';
  background: url('img/e3-bg-img.jpeg') center no-repeat fixed;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 130vh;
}

.section-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.redline-hr {
  width: 10%;
  color: #ec5242;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 1;
}

.info-container {
  margin: 22px;
  flex-direction: column;
  padding-bottom: 30px;
}

.title-container {
  color: #ec5242;
}

.title-container > h3 {
  font-weight: 300;
}

.title-container > h1 {
  font-weight: 800;
  letter-spacing: 2px;
}

.description-container {
  border: 3px solid rgb(245, 243, 243);
  margin-bottom: 13px;
  margin-top: 13px;
  color: #525355;
}

.description-container > p {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 0%;
}

.date-time-container > h2 {
  font-weight: 800;
  color: rgb(75, 75, 75);
  margin-top: 10px;
}

/* Program Container Styling */

.program-container {
  height: auto;
  background-color: #272a31;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.program-list {
  list-style-type: none;
  padding: 0%;
  flex-direction: column;
}

.program-list > li {
  flex-direction: row;
  margin: 15px;
  background-color: rgba(143, 142, 142, 0.205);
  align-items: center;
}

.program-list > li > h3 {
  margin: 10px;
  color: #ec5242;
  font-size: 17px;
}

.program-list > li > p {
  margin: 10px;
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.join-event-btn {
  color: white;
  background-color: #ec5242;
  border: none;
  align-items: stretch;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40px;
  width: 50%;
  padding: 10px;
}

/* Feature Speakers Styling */

.featured-speakers-container {
  flex-direction: column;
  padding: 22px;
  height: auto;
  width: auto;
  background-color: white;
}

.featured-speakers-container > h2 {
  color: #272a31;
}

.speakers-data {
  margin-top: 10px;
}

.sp-list {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  flex-direction: column;
}

.sp-img {
  width: 25%;
}

.sp-list > li {
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}

.sp-description {
  margin-left: 10px;
}

.sp-name {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  color: black;
}

.sp-description > h4 {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-top: 10px;
  color: #ec5242;
}

.sp-p {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  margin-top: 10px;
  color: black;
}

.greyline-hr {
  width: 10%;
  color: grey;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.4;
}

/* About Page Styling */

.about-page {
  flex-direction: column;
}

.about-info-container {
  flex-direction: column;
  margin: 22px;
  padding-bottom: 20px;
}

.about-info-container::after {
  content: '';
  background: url('img/e3-about-bg.jpeg') center no-repeat fixed;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 130vh;
}

.about-title-container {
  color: #ec5242;
}

.about-title {
  font-weight: 300;
  text-align: center;
}

.about-title-container > h1 {
  font-weight: 800;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 1px;
}

.about-description-container {
  background-color: rgb(250, 250, 250);
  border: 1px solid #d1d1d1;
  margin-bottom: 13px;
  margin-top: 13px;
}

.about-description {
  font-weight: 400;
  color: #525355;
  font-size: 14px;
  padding: 15px;
  line-height: 26px;
  margin-bottom: 0%;
  text-align: center;
}

.about-contact {
  flex-direction: column;
  justify-items: center;
}

.about-contact > h5 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
  line-height: 20px;
}

.contact-email {
  font-size: 13px;
  color: black;
  text-align: center;
  text-decoration: underline;
}

/* About Logo Section */

.about-logo-container {
  flex-direction: column;
  padding: 22px;
  height: auto;
  width: auto;
  background-color: white;
  padding-bottom: 30px;
}

.about-section-title {
  font-size: 19px;
  color: #272a31;
  line-height: 28px;
  text-align: center;
  margin-left: 15px;
}

.logo-description {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 15px;
  line-height: 20px;
  color: #525355;
}

.logo-img-container {
  align-self: center;
  justify-content: center;
  border: 1px solid rgb(192, 192, 192);
  padding: 10px;
  margin-top: 15px;
  height: auto;
  width: 90%;
}

.logo-img-container > img {
  width: 25%;
}

/* About Past Event Section */

.about-past-container {
  flex-direction: column;
  padding: 22px;
  padding-bottom: 40px;
  height: auto;
  width: auto;
  background-color: white;
  margin-top: 3px;
}

.past-description {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 15px;
  line-height: 20px;
  color: #525355;
  margin-top: 0%;
}

.event-list {
  padding: 0%;
  margin: 0%;
  justify-items: center;
  flex-direction: column;
}

.event-list > li {
  justify-content: center;
}

.event-container {
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 15px;
  height: 170px;
  width: 90%;
  background-color: #ec5242;
  text-align: center;
  color: white;
}

.event-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.34;
}

.event-title {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer Container */

.about-footer-partner {
  background-color: #3f4042;
  height: auto;
  flex-direction: column;
  padding: 22px;
}

.partner-list {
  padding: 0%;
  margin: 5px 10px;
  flex-direction: row;
  align-content: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.about-footer-partner .fab {
  margin: 10px 15px;
  color: white;
  font-size: 30px;
}

.about-company-rights {
  background-color: white;
  padding: 22px;
  padding-top: 10px;
}

.company-img-container {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 5px;
  height: auto;
  width: 100%;
}

.company-img-container > img {
  width: 20%;
}

.p-rights {
  margin-top: 10px;
  margin-left: 10%;
  font-weight: 300;
  font-size: 15px;
}

.program-list .fab {
  margin: 10px 15px;
  color: white;
  font-size: 30px;
}

.program-list .fas {
  margin: 10px 15px;
  color: white;
  font-size: 30px;
}

.other-sp-container {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  justify-content: center;
  align-items: baseline;
}

.other-sp-container > h4 {
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 0%;
}

.other-sp-container .fas {
  color: #ec5242;
}
